<div class="row">
    <div class="bg-light col-12">
        <p class="col-12 text-center fw-b h2 bg-secondary mb-3 mt-3 text-light p-1">{{data.title}}</p>
        <p class="col-12 text-left fw-b h5 mb-3 p-1">{{data.content}}</p>
    </div>
</div>
<div class="text-center mt-5">
    <input type="submit" class="btn btn-primary btn-lg" value="Edit Blog">
</div>